*{
    text-decoration: none;
    color: #000;
}
header{ 
    background-image: linear-gradient(132deg, #ffffff 50%, #f6b400 0%);
    background-color: #F6B400;
}
html{
    margin: 0px;
    padding:0px;
    height: 100%;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
       
#nav1{   
    display:flex;
    flex-direction: row;
    align-items: center;

}
ul{
    float: right;
    height: 50px;

}
ul li{
    display: inline;
    list-style: none;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
}
ul li a :hover{
    color: red;
}
nav-tab::after{
    content:'';
    width: 100%;
    height:4px;
    background: #f44336;
    display: block;
    margin: auto;
}
.About_us{
    display: flex;
    justify-content: space-around;


