*{
    text-decoration: none;
    color: #000;
}
header{ 
    background-image: linear-gradient(132deg, #ffffff 50%, #f6b400 0%);
    background-color: #F6B400;
}
html{
    margin: 0px;
    padding:0px;
    height: 100%;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
       
#nav1{   
    display:flex;
    flex-direction: row;
    align-items: center;

}
ul{
    float: right;
    height: 50px;

}
ul li{
    display: inline;
    list-style: none;
    margin: 20px;
}
ul li a{
    text-decoration: none;
    font-weight: bold;
}
ul li a :hover{
    color: red;
}
.logo-text{
color: #F6B400;
}
nav-tab1::after{
    content:'';
    width: 100%;
    height:4px;
    background: #f44336;
    display: block;
    margin: auto;
}
.About_us{
    display: flex;
    justify-content: space-around;
}
.image1{
    width: 250x;
}
.text-box p{
    color: gray;
}
 


.justify{
    display: flex;
    justify-content: space-between;
    font-weight: bolder;
    margin: 20px;
}



.text-box{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box button{
    margin-top: 25px;
    border-color: transparent;
    padding: 15px 20px;
    text-align: center;
    background-color:  #F6B400;
    border-radius: 15px 15px 0px 15px;   
    color: white;
}
.Exciting_offers{
    display: flex;
}
.Quality{
    border-style: solid;
    border-color:rgb(218, 114, 39) ;
    padding-top: 70px;
    margin: 100px 60px;
    border-radius: 15px;
    text-align: center;
}
.Delivery{
    border-style: solid;
    border-color: rgb(218, 114, 39);
    padding: 70px;
    margin: 100px 60px;
    border-radius: 15px;
    text-align: center;
}  
.Delicious{
    border-style: solid;
    border-color:rgb(216, 120, 51) ;
    padding-top: 70px;
    margin: 100px 60px;
    border-radius: 15px;
    text-align: center;
  
  }
  .Quality , .Delivery, .Delicious{
    align-items: center;
    flex-direction: row;
    float: left;
    width: 33.33%;
    padding: 5px;
    display: flex;
  }

.Our_Menu{
    margin-top: 38px;
}
.Our_Menu h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.Our_Menu h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.menu-color{
    color: #F6B400;
    text-align: center;
}


.row_1{    
    border-color: rgb(194, 104, 41);
    margin:20px 10px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    position:relative;
    margin-top:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.row_2{    
    border-color: rgb(194, 104, 41);
    margin:20px 10px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
    position:relative;
    margin-top:50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.container1, .container2, .container3 {
    width: 20%;
    height: 500px;
    border: orange 2px solid;
    margin: 5%;
  
}
.cart{
    background-color: #E1EBE6;
    padding: 0.5em;

}

.container4, .container5, .container6 {
    width: 20%;
    height: 500px;
    border: orange 2px solid;
    margin: 5%;
}

.Double_decker{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    font-size: 20px;
    
}

.images{
    margin-right: 30%;
}
.images_text{
  float: right;

}
.next{
    color:#F6B400
}


.To_download{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: yellow;
    flex-direction: row;
    justify-content: space-between;
  
}
.add{
    display: flex;
    margin: 20px;
    

}
.apps{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.ad1,.ad2{
    margin-left: 20px;  
}
.ad2{ 
    position: relative; right:30px;
}
.footer{
    display: flex;
    flex-direction: column;
  
}
.list{
    display: flex;
    flex-direction: column;
    width: 60%;
    
}
.strong{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: bold;

}
.upper_right_footer{
    display: inline-block;
    padding: 5%;
    margin-left: 60%;
    margin-top: -400px;
}
.lower_footer_section{
    margin-top: 250px;
    
    
}

.lower_footer_section ul{
    align-self: center;
    padding-right: 800px;
    margin-bottom: 0px;
}

.lower_right_footer{
    margin-left: 80%;
    padding:80px;

}
.button2{
    display: inline;
    margin-left: 50%;
  background-color: #f6b400;
}

.upper_left_footer2{
    color: #f6b400;
}